*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' sans-serif;
}

header{
    background: #202122;
    text-align: center;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 99999999;
}

.logo{
    text-decoration: none;
    color: #F7F7F7;
    font-size: 60PX;
    font-weight: bold;
}

.menu i{
    color: #70a903;
    background: rgba(74, 74, 74, 0.1);
    padding: 12px;
    border-radius: 50%;
}

.menu i:hover{
    background: rgba(112, 169, 3, 0.8);
    color: #F7F7F7;
    transition: .5s;
}

nav ul{
    list-style: none;
    padding: 16px;
}

nav ul li a{
    text-decoration: none;
    color: #99999a;
    font-size: 14px;
    padding: 16px;
    display: block;
}

nav ul li a:hover{
    background: #202122;
}

nav{
    display: block;
    position: fixed;
    background: #4a4a4a;
    width: 100%;
    height: 50vh;
    left: 0;
    top: 140px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
}

.active-nav{
    transform: translateX(0);
}

.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/heroimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-info h1{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 16px;
}

.hero-section-info .subhead{
    color: #cac7c6;
    text-align: center;
    font-size: 12px;
    margin-bottom: 32px;
}

.cta-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btn a{
    text-decoration: none;
    color: #F7F7F7;
    background: #70a903;
    padding: 12px 32px;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border: 2px solid transparent;
}

.cta-btn a:hover{
    background: transparent;
    border-color: #70a903;
    color: #70a903;
    transition: .5s;
}

.second-section-body,
.fourth-section-body,
.footer-section,
.about-hero-body{
    background: #202122;
}

main{
    margin: auto 16px;
}

.second-section,
.classes-section,
.open-gym,
.coaches,
.newsletter-section,
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.second-section h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.second-section h3 span{
    color: #70a903;
}

.second-subhead{
    color: #cac7c6;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

.second-cta-btn{
    margin-top: 16px;
}

.second-cta-btn a{
    text-decoration: none;
    color: #F7F7F7;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    background: #70a903;
    padding: 8px 32px;
    border-radius: 5px;
    font-weight: 700;
}

.second-cta-btn a:hover{
    background: transparent;
    transition: .5s;
}

.third-section-body,
.fifth-section-body,
.service-section-body,
.location-section-body{
    background: #0c0b0b;
}

.classes-section p{
    color: #cac7c6;
    letter-spacing: 10px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.classes-section h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
}

.card .btn{
    margin-top: 32px;
}

.card .btn a{
    text-decoration: none;
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 10px;
    background: #70a903;
    padding: 8px 18px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.card .btn a:hover{
    color: #70a903;
    border-color: #70a903;
    background: transparent;
    transition: .5s;
}

.card{
    margin: 32px auto;
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card1:hover::before{
    opacity: 0;
}

.card1{
    background-image: url('/images/card11.jpg');
}

.card2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card2:hover::before{
    opacity: 0;
}

.card2{
    background-image: url('/images/card22.jpg');
}

.card3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card3:hover::before{
    opacity: 0;
}

.card3{
    background-image: url('/images/card33.jpg');
}

.card4::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card4:hover::before{
    opacity: 0;
}

.card4{
    background-image: url('/images/card44.jpg');
}

.open-gym p{
    color: #cac7c6;
    letter-spacing: 10px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.open-gym h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
}

.types{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.types p{
    letter-spacing: unset;
    font-size: 10px;
    color: #F7F7F7;
}

.types p:hover{
    color: #5a840b;
}

.clicked{
    background: #70a903;
    padding: 10px;
    border-radius: 5px;
}

.types p.clicked:hover{
    color: #F7F7F7;
}

.content1{
    text-align: left;
    color: #F7F7F7;
    margin-bottom: 40px;
}

.content2{
    display: none;
    text-align: left;
    color: #F7F7F7;
    margin-bottom: 40px;
}

.types-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.types-content button{
    font-size: 6px;
    background: #0c0b0b;
    color: #F7F7F7;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

.types-content button:hover{
    background: transparent;
}

.btn1,
.btn2{
    cursor: pointer;
}

.open-gym-footer p{
    letter-spacing: unset;
    color: #cac7c6;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-bottom: 25px;
}

.open-gym-footer p span{
    color: #5a840b;
    font-size: 16px;
}

.coaches p{
    color: #cac7c6;
    letter-spacing: 10px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.coaches h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
}

.container1 img{
    width: 100%;
    height: auto;
}

.container1 h4{
    color: #F7F7F7;
    margin: 16px auto;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.container1 h4:hover{
    color: #5a840b;
}

.container1 p{
    letter-spacing: unset;
    font-size: 12px;
    font-weight: unset;
    color: #cac7c6;
    line-height: 2;
}

.container1 a{
    text-decoration: none;
    color: #5a840b;
    font-size: 12px;
}

.container1 a:hover{
    color: #50750a;
    transition: .5s;
}

.media{
    display: flex;
    justify-content: center;
    margin: 32px auto;
}

.media a:hover{
    color: #F7F7F7;
}

/*
.coaches-socials{
    color: #F7F7F7;
    margin: 18px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.coaches-socials i{
    background: #4a4a4a;
    padding: 8px;
    font-size: 10px;
    border-radius: 3px;
    outline: solid 2px #4a4a4a;
    margin-bottom: 32px;
}

.coaches-socials i:hover{
    background: #0c0b0b;
    outline-color: #4a4a4a;
    transition: .5s;
}
*/

.newsletter-section{
    background: #70a903;
}

.newsletter h1{
    color: #F7F7F7;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 18px;
}

.custom-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.custom-form input{
    width: 70%;
    padding: 8px 12px;
    outline: none;
    color: #cac7c6;
    background: #F7F7F7;
    border: none;
    border-radius: 5px;
}

input:hover{
    background: #a3c95c;
}

.custom-form button{
    font-size: 10px;
    color: #F7F7F7;
    background: #0c0b0b;
    font-family: 'Raleway', sans-serif;
    padding: 10px 16px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-form button:hover{
    background: transparent;
    transition: .5s;
}

.map-container {
    width: 100%;
    height: 400px;
}
  
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.footer .logo{
    font-size: 32px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left small{
    color: #cac7c6;
}

.right p{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials a{
    color: #F7F7F7;
    background: #4a4a4a;
    padding: 8px;
    font-size: 10px;
    border-radius: 5px;
    border: solid 2px #4a4a4a;
}

.socials a:hover{
    background: #0c0b0b;
    border-color: #4a4a4a;
    transition: .5s;
}

/* About Page */

.about-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/about\ bg\ main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-info .event{
    color: #70a903;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 18px;
}

.about-section-info h1{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.about-section-info .subhead{
    color: #cac7c6;
    text-align: center;
    font-size: 12px;
    margin-bottom: 32px;
    font-family: 'Raleway', sans-serif;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    gap: 5px;
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 8px;
}

.counter p{
    font-size: 20px;
    background: #0c0b0b;
    padding: 5px 8px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.about-cta-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-cta-btn a{
    text-decoration: none;
    color: #F7F7F7;
    background: #70a903;
    padding: 12px 32px;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border: 2px solid transparent;
}

.about-cta-btn a:hover{
    background: transparent;
    border-color: #70a903;
    color: #70a903;
    transition: .5s;
}

.about-hero{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.about-head{
    color: #cac7c6;
    letter-spacing: 10px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.about-hero h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-hero h3 span{
    color: #70a903;
}

.about-subhead{
    color: #cac7c6;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: unset;
    font-weight: unset;
}

.sections{
    margin: 16px auto;
}

.first{
    margin-bottom: 16px;
}

.sections img{
    width: 70px;
}

.sections h4{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.sections .dets{
    text-decoration: none;
    color: #F7F7F7;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: #70a903;
    padding: 8px 12px;
    border-radius: 5px;
}

.sections .dets:hover{
    background: transparent;
    transition: .5s;
}

/* Services Page */

.service-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.service-section h1{
    color: #F7F7F7;
    font-size: 20px;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.service-section .message{
    color: #cac7c6;
    font-size: 12px;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
}

.message a{
    text-decoration: none;
    color: #70a903;
}

.packages{
    text-align: center;
    margin: 32px auto;
}

.packages p{
    color: #cac7c6;
    letter-spacing: 10px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}

.packages h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.packages-info{
    text-align: center;
    margin-top: 32px;
    background: #202122;
    padding: 40px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.price .sign{
    color: #cac7c6;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.price h1{
    font-size: 32px;
    font-family: "Playfair Display", serif;
    color: #F7F7F7;
}

.packages-info h5{
    color: #cac7c6;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    position: relative;
}

.packages-info h5::after{
    position: absolute;
    content: "";
    width: 15%;
    height: -6px;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #70a903;
}

.packages-info p{
    color: #cac7c6;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-bottom: 32px;
    line-height: 2;
}

.packages-info a{
    text-decoration: none;
    color: #F7F7F7;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: #70a903;
    padding: 8px 10px;
    border-radius: 5px;
}

.packages-info a:hover{
    background: transparent;
    transition: .5s;
}

.join p{
    text-align: center;
    color: #cac7c6;
    font-size: 12px;
    margin: 32px auto;
    font-family: 'Raleway', sans-serif;
}

.join a{
    text-decoration: none;
    color: #70a903;
}

/*Location Page*/

.location-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.location-section h3{
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.location{
    background: #202122;
    margin-top: 32px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.location h5{
    color: #cac7c6;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
}

.location p{
    margin: 16px auto;
    color: #cac7c6;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.location p span{
    font-weight: normal;
    margin-left: 10px;
    font-size: 11px;
}

.location-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.location-btn a{
    text-decoration: none;
    color: #F7F7F7;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    background: #70a903;
    padding: 6px 16px;
    border-radius: 5px;
}

.location-btn a:hover{
    background: transparent;
    transition: .5s;
}

@media(min-width: 920px) {
    .menu{
        display: none;
    }

    header{
        position: relative;
        padding-bottom: 40px;
        position: sticky;
    }

    nav {
        width: auto;
        height: auto;
        position: absolute;
        transform: translateX(-50%);
        top: 100px;
        left: 50%;
        border-radius: 8px;
    }    

    nav ul{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: unset;
    }

    nav ul li{
        padding: 16px;
        border-radius: 0;
    }

    nav ul li:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    
    nav ul li:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    nav ul li:hover{
        background: #70a903;
        transition: .5s;
    }

    nav ul li a{
        padding: unset;
        display: unset;
        font-size: 16px;
        color: #F7F7F7;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
    }

    nav ul li a:hover{
        background: unset;
    }

    .hero-section,
    .about-section{
        height: 90vh;
    }

    .hero-section-info h1,
    .about-section-info h1{
        font-size: 90px;
    }

    .hero-section-info .subhead,
    .about-section-info .subhead{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    .second-section h3{
        font-size: 40px;
    }

    .second-subhead,
    .about-subhead{
        font-size: 20px;
    }

    .classes-section p,
    .about-head,
    .packages p{
        font-size: 16px;
    }

    .classes-section h3,
    .about-hero h3,
    .packages h3{
        font-size: 40px;
    }

    .cards{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
    }

    .card{
        height: 300px;
    }

    .open-gym p{
        font-size: 16px;
    }

    .open-gym h3{
        font-size: 40px;
    }

    .types-content{
        font-size: 16px;
        font-weight: 700;
    }

    .types-content button{
        font-size: 10px;
        font-weight: 700;
    }

    .box-grid{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 32px;
    }

    .open-gym-footer p{
        font-size: 20px;
    }

    .open-gym-footer p span{
        font-size: 20px;
    }

    .coaches p{
        font-size: 16px;
    }

    .coaches h3{
        font-size: 40px;
    }

    .coaches-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right p{
        font-weight: 700;
    }

    /* About Page */

    .about-section-info .event{
        font-size: 28px;
    }

    .counter{
        font-size: 16px;
        gap: 32px;
    }
    
    .counter p{
        font-size: 32px;
    }

    .sections{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 32px auto;
    }

    .sections img{
        width: 120px;
    }

    .sections h4{
        font-size: 14px;
    }

    .first{
        border-right: 1px solid #4a4a4a;
        padding-right: 95px;
        padding-bottom: 95px;
    }

    .last{
        border: none;
    }

    .sections .dets{
        font-size: 12px;
    }

    /* Services Page */

    .service-section h1{
        margin-top: 50px;
        font-size: 40px;
    }

    .service-section .message{
        font-size: 16px;
    }

    .packages{
        margin-top: 60px;
    }

    .all-packages{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 32px;
    }

    .price .sign{
        font-size: 16px;
    }

    .price h1{
        font-size: 42px;
    }

    .packages-info h5{
        font-size: 18px;
    }

    .packages-info p{
        font-size: 16px;
    }

    .packages-info a{
        font-size: 12px;
    }

    .join p{
        font-size: 16px;
    }

    .packages-info{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /*Beginner Page*/

    .beginner-section{
        padding-top: 80px;
    }

    /*Location Page*/
    .location-section{
        padding-top: 80px;
    }

    .location-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 32px;
    }

    .location-section h3{
        font-size: 40px;
    }
    
    .location h5{
        font-size: 18px;
    }

    .location p{
        font-size: 16px;
    }

    .location p span{
        font-size: 14px;
    }

    .location-btn a{
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    main{
        max-width: 1200px;
        margin: 0 auto;
    }
}
